# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
venv/
env/
*.egg-info/
*.egg

# Django
db.sqlite3
media/
staticfiles/

# IDE / OS
*.log
.idea/
.vscode/
*.swp
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore
