{% extends "base.html" %}
{% block title %}
  Categories Page
{% endblock %}
{% block content %}
  <div class="container-md my-5" style="max-width: 1200px;">
    <h5 class="text-center my-4 text-secondary">
        Shop through a wide selection of electronic devices, 
        including smartphones, laptops, tablets, 
        headphones, smart home devices, and more.
    </h5>
    <div class="row row-cols-1 row-cols-md-5 g-3 justify-content-start">
      {% for category in page_obj %}
        <div class="col">
          {% include "includes/category_card.html" %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% include "includes/paginator.html" %}
{% endblock %}